########################################################################################################################
## Reference data paths of mm10 (Ensemble gene names) for use with rna-seq-pc.py
## October 13th, 2014
########################################################################################################################

## Required

## FASTA index
fasta_index="/data/projects/misc/genomes/versioned/mus_musculus/Ensembl/GRCm38/Sequence/WholeGenomeFasta/genome.fa.fai"

## GTF
gtf="/data/projects/misc/genomes/versioned/mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.gtf"

## Bowtie2 genome index
genome_index="/data/projects/misc/genomes/versioned/mus_musculus/Ensembl/GRCm38/Sequence/Bowtie2Index/genome"

## TopHat2 transcriptome index
transcriptome_index="/data/projects/misc/genomes/versioned/mus_musculus/Ensembl/GRCm38/Annotation/TophatIndex/genes"

## BED
bed="/data/projects/misc/genomes/versioned/mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.bed"
